

<div class="centered-container">
    <div class="form_container">
        <i class="uil uil-times form_close" (click)="closeForm()"></i>
        <div class="form login_form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h2>Login</h2>
                <div class="input_box">
                    <input type="email" placeholder="Entrez votre email" formControlName="email" required>
                    <i class="uil uil-envelope-alt email"></i>
                </div>
                <div class="input_box">
                    <input [type]="passwordVisible ? 'text' : 'password'" placeholder="Entrez votre mot de passe" formControlName="mot_de_passe" required>
                    <i class="uil uil-lock password"></i>
                    <i class="uil" [ngClass]="{'uil-eye': passwordVisible, 'uil-eye-slash': !passwordVisible}" (click)="togglePasswordVisibility()"></i>
                </div>
                <div class="option_field">
                    <span class="checkbox">
                        <input type="checkbox" id="check">
                        <label for="check">Remember me</label>
                    </span>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <a href="#" class="forgot_pw">Mot de passe oublié ?</a>
                </div>
                <button class="button" type="submit" [disabled]="!loginForm.valid">Se connecter</button>
                <div class="login_signup">Vous n'avez pas de compte ? <a (click)="goToRegister()">S'inscrire</a></div>
            </form>
        </div>
    </div>
    
  </div>